#mainList {
    max-width: 1900px;
    width: 100%;
    margin: 0 auto 30px;
}

table {
   font-size: 20px;
}

th {
    background-color: grey;
    color: #fff;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

table button {
    width: 80px;
}

.createNoteButton {
    margin-bottom: 60px;
    position: absolute;
    right: 200px;
}

#secondaryList {
    margin: 0 auto 30px;
}

#archiveList {
    display: none;
    max-width: fit-content;
    margin: 0 auto 30px;
}